/* Importando fontes */
@font-face {font-family: 'Gotham HTF Black';src: url(../fonts/gotham/GothamHTF-Black.otf);}
@font-face {font-family: 'Gotham HTF Bold';src: url(../fonts/gotham/GothamHTF-Bold.otf);}
@font-face {font-family: 'Gotham HTF Book';src: url(../fonts/gotham/GothamHTF-Book.otf);}
@font-face {font-family: 'Gotham HTF Light';src: url(../fonts/gotham/GothamHTF-Light.otf);}
@font-face {font-family: 'Gotham HTF Medium';src: url(../fonts/gotham/GothamHTF-Medium.otf);}
@font-face {font-family: 'Gotham HTF Thin';src: url(../fonts/gotham/GothamHTF-Thin.otf);}
@font-face {font-family: 'Gotham HTF Ultra';src: url(../fonts/gotham/GothamHTF-Ultra.otf);}
@font-face {font-family: 'Gotham HTF XLight';src: url(../fonts/gotham/GothamHTF-XLight.otf);}
@font-face {font-family: 'Roboto Black';src: url(../fonts/roboto/roboto-black.ttf);}
@font-face {font-family: 'Roboto Black Italic';src: url(../fonts/roboto/roboto-blackItalic.ttf);}
@font-face {font-family: 'Roboto Bold';src: url(../fonts/roboto/roboto-bold.ttf);}
@font-face {font-family: 'Roboto Bold Italic';src: url(../fonts/roboto/roboto-boldItalic.ttf);}
@font-face {font-family: 'Roboto Italic';src: url(../fonts/roboto/roboto-italic.ttf);}
@font-face {font-family: 'Roboto Light';src: url(../fonts/roboto/roboto-light.ttf);}
@font-face {font-family: 'Roboto Light Italic';src: url(../fonts/roboto/roboto-lightItalic.ttf);}
@font-face {font-family: 'Roboto Medium';src: url(../fonts/roboto/roboto-medium.ttf);}
@font-face {font-family: 'Roboto Medium Italic';src: url(../fonts/roboto/roboto-mediumItalic.ttf);}
@font-face {font-family: 'Roboto Regular';src: url(../fonts/roboto/roboto-regular.ttf);}
@font-face {font-family: 'Roboto Thin';src: url(../fonts/roboto/roboto-thin.ttf);}
@font-face {font-family: 'Roboto Thin Italic';src: url(../fonts/roboto/roboto-thinItalic.ttf);}

/* Cria uma animação básica de fade-in */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fromLeft{
    0% {transform: translateX(-3vw);}
    100% {transform: translateX(0);}
}

/* Padronizando todos os elementos */
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo variáveis da página */
:root{

    /* Definindo as cores utilizadas */
    --magenta: #ED145B;
    --chinese-black: #101010;
    --black: #000000;
    --pastel-blue: #ACC1CC;
    --davys-green: #555555;
    --cultured: #F5F5F5;
    --spanish-blue: #006BB7;
    --silver-foil: #AFAFAF;

    /* Definindo as fontes utilizadas */
    --title-btn-font: 'Gotham HTF Medium';
    --section-list-font: 'Gotham HTF Book';
    --accordion-title-font:'Gotham HTF Bold';
    --caption-font: 'Roboto Regular';

    /* Definindo o tamanho das fontes na versão de celular */
    --title-size: 40px;
    --subtitle-size: 36px;
    --section-size: 18px;
    --accordion-title-size: 24px;
    --accordion-section-size: 16px;
    --caption-size: 12px;
    --btn-contact-size: 20px;
    --btn-scroll-size: 12px;
    --list-size: 18px;
    --sublist-size: 16px;
    
}

/* Altera as cores e grossura da scrollbar */
::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: rgba(237, 20, 91, 0.3);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--magenta);
  }

/* Ajusta o acordeão e é usado de base pelo botão de retorno */
main {
    background-color: var(--black);
    overflow:hidden;
}

/* Torna a imagem fornecida em --bg-image o novo fundo do container */
.background-img{
    position: relative;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Adiciona o efeito de degradê, do preto para o transparente, sobre o plano de fundo */
.fade-effect{
    position: relative;
}

.fade-effect::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--black) 30%, transparent 100%);
    z-index: 0;
}

/* Aplica a cor magenta no texto */
.text-magenta{
    color: var(--magenta);
}

/* Aplica a cor pastel-blue no texto */
.text-pastel-blue{
    color: var(--pastel-blue);
}

/* Torna o texto transparente e adiciona uma borda ao redor das letras da cor do --bd-color */
.wireframe-text{
    color: transparent;
    -webkit-text-stroke: 0.08rem var(--bd-color);
    font-family: var(--fnt-family) !important;
}

/* Faz o elemento ficar numa posição fixa da tela */
.sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Cria o efeito de parallax com a imagem fornecida em --bg-parallax */
.parallax{
    background-image: var(--bg-parallax);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Adiciona a imagem de cursor fornecida em --hv-icon */
.hoverIcon:hover{
    cursor: var(--hv-icon), auto;
}

/* Ajusta o modal para imagem ocupar toda a largura da página */
.modal {
    --bs-modal-width: 100% !important;
}

/* Remove margins e paddings, e previne criação de tamanho extra no modal */
.modal-dialog {
    margin: 0 !important;
    width: 100% !important;
    overflow: hidden;
}

/* Ajusta o tamanho do modal */
.modal-dialog div{
    width: 100%;
}

/* Esconde o subtítulo voltado para desktop */
.desktop-subtitle{
    width: 0;
    height: 0;
    visibility:collapse;
}

/* Esconde o botão scroll voltado para desktop */
.scroll-btn-title{
    width: 0;
    height: 0;
    visibility:collapse;
}

/* Controla a nav da página */
.navigation{
    height: 13vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--chinese-black);
}

/* Faz as imagens da nav terem posição absoluta e ter 80px de largura */
.navigation img{
    position: absolute;
    width: 100px;
}

/* Faz a progress-bar ter posição absoluta, seu tamanho ser 0.5% da altura da viewport e sua cor ser magenta */
.progress-bar-custom{
    height: 0.5vh;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--magenta) !important;
}

/* Controla a seção 1 da página */
.section1{
    width: 100%;
    height: 38vmax;
    padding-left: 6vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Aplica nos headings 1 da página o tamanho e a fonte ideal, e joga sua posição na frente do degradê*/
.section1 h1{
    margin: 0;
    padding: 0;
    font-size: var(--subtitle-size);
    font-family: var(--title-btn-font);
    z-index: 0;
}

.header-h1-first{
    opacity: 0;
    animation: fromLeft 0.6s ease-out, fadeIn 0.6s ease-out;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.header-h1-second{
    opacity: 0;
    animation: fromLeft 0.6s ease-out, fadeIn 0.6s ease-out;
    animation-delay: 0.15s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.header-h1-third{
    opacity: 0;
    animation: fromLeft 0.6s ease-out, fadeIn 0.6s ease-out;
    animation-delay: 0.3s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

/* Controla a seção 2 da página */
.section2{
    height: 30vh;
    padding: 0 9vw 0 6vw;
    display: flex;
    align-items: center;
    background-color: var(--black);
}

/* Adiciona ajustes de cor, fonte e espaçamento para o parágrafos da seção 2 */
.section2 p{
    margin: 0;
    color: var(--pastel-blue);
    font-size: var(--section-size);
    font-family: 'Roboto Light';
    letter-spacing: 0.05rem;
    line-height: 3vh;
}

/* Controla a seção 3 da página */
.section3{
    height: 250vh;
    padding: 0 6vw;
    display: flex;
    flex-direction: column;
    background-color: var(--cultured);
}

/* Ajusta do heading 1 para ter a posição e fonte adequadas*/
.section3 h1{
    padding: 25vmin 0 10vmin;
    font-size: var(--title-size);
    font-family: var(--title-btn-font);
}

/* Aplica ao componente paragraph a cor, fonte, espaçamento de linha e posicionamento adequados */
.section3 p{
    padding-bottom: 4vh;
    color: var(--davys-green);
    font-size: var(--section-size);
    font-family: var(--section-list-font);
    line-height: 3.3vh;
}

/* Ajusta a imagem do corpo para possuir o tamanho ideal */
.section3 img{
    width: calc(100vmin - 18vw);
}

/* Ajusta a imagem do modal para possuir o tamanho ideal */
.modal img{
    width: 100%;
}

/* Ajusta o heading 1 do modal para a posição e padrões ideais */
.modal h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4vh;
    right: 4vw;
    font-size: var(--accordion-title-size);
    font-style: var(--accordion-title-font);
    color: var(--cultured);
}

/* Aplica ao componente small a cor, fonte e posicionamento adequados */
.section3 small{
    padding: 2vh 0 8vh;
    color: var(--davys-green);
    font-size: var(--caption-size);
    font-family: var(--caption-font);
}

/* Retira o efeito padrão das listas */
.section3 ul{
    list-style: none;
}

/* Adiciona um pequeno espaçamento ao paragraph das listas */
.section3 li p{
    padding: 1vh 0;
}

/* Adiciona efeito de barra ( / ) ao lado do elemento */
.slash::after{
    content: '/';
    font-weight: bold;
    color: var(--magenta);
    position: absolute;
    left: 7%;
}

/* Adiciona um pequeno padding a esquerda, reduz o tamanho para 85% e troca a cor do texto para magenta */
.section3 .magenta{
    padding-left: 1vw;
    color: var(--magenta);
    scale: calc(0.88);
}

/* Adiciona um efeito de traço ( - ) ao lado do elemento */
.magenta::after{
    content: '';
    position: absolute;
    top: calc(50%);
    left: -22px;
    width: 6px;
    height: 2px;
    background-color: var(--magenta);
}

/* Controla a seção 4 da página */
.section4 {
    height: 85vh;
}

/* Controla a seção 5 da página */
.section5{
    height: 260vh;
    padding: 21vh 6vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--black) 0%, var(--spanish-blue) 30%, var(--black) 100%);
}

/* Escurece o plano de fundo em gradiente */
.section5::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

/* Traz as divs para frente, evitando serem escurecidas, ao mesmo tempo que removendo seu background */
.section5 div{
    z-index: 1;
    background-color: transparent;
}

/* Ajusta o tamaho do acordeão */
.section5 .accordion{
    width: 100%;
}

/* Padroniza o heading 1 da seção 5 e o traz para frente, evitando de ser escurecido */
.section5 h1{
    color: var(--pastel-blue);
    font-size: var(--title-size);
    font-family: var(--title-btn-font);
    z-index: 1;
}

/* Padroniza o paragraph e o ajusta para melhor visualização e contraste */
.section5 p{
    font-size: var(--accordion-section-size);
    font-family: 'Gotham HTF Book';
    color: var(--silver-foil);
    text-align: justify;
}

/* Ajusta o tamanho e o plano de fundo dos botões de acordeão */
.accordion-btn{
    width: 100%;
    padding: 3vh 0;
    position: relative;
    text-align: start;
    background-color: transparent;
}

/* Padroniza e ajusta os títulos para melhor visualização */
.accordion-btn h1{
    margin: 0;
    width: 50%;
    color: var(--pastel-blue);
    font-size: var(--accordion-title-size);
    font-family: var(--accordion-title-font);
    line-height: 5vh;
}

/* Adiciona uma linha a mais no último acordeão */
.accordion-bottom-line{
    position: relative;
}

.accordion-bottom-line::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--davys-green);
}


/* Constrói um botão redondo com um elemento no meio fornecido pelo --btn-icon */
.accordion-btn::after{
    content: var(--btn-icon);
    width: 38px;
    height: 38px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Medium';
    font-size: 30px;
    top: 35%;
    right: 1vw;
    border: 3px solid var(--magenta);
    border-radius: 40px;
    color: var(--magenta);
}


/* Constrói o efeito de linha no topo do acordeão*/
.accordion-bd{
    position: relative;
}

.accordion-bd::after{
    content: '';
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--davys-green);
}

/* Ajusta o footer para melhor visualização */
.section5 .footer{
    padding: 30vh 0;
    text-align: center;
}

/* Padroniza o botão de contato */
.contact-btn{
    margin-top: 8vh;
    width: 85%;
    height: 10vh;
    color: var(--magenta);
    font-size: var(--btn-contact-size);
    font-family: var(--title-btn-font);
    border: 3px solid var(--magenta);
    background-color: transparent;
    transition: 0.3s ease;
}

/* Cria um efeito de inversão de cores entre borda e preenchimento */
.contact-btn:hover{
    background-color: var(--magenta);
    color: var(--black);
}

/* Cria uma div para conter e ajustar o botão de retorno custom */
.return-btn-div{
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    z-index: 2;
    animation: fadeIn 0.5s;
}

/* Cria o efeito de borda circular no botão e remove a cor de fundo */
.return-btn {
    position: relative;
    background-color: transparent;
}

.return-btn::after{
    content: '';
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -14px;
    border: 2px solid var(--magenta);
    border-radius: 40px;
    color: var(--magenta);
    transition: box-shadow 0.3s ease;
}

/* Adiciona efeito de brilho ao redor da borda circular */
.return-btn:hover::after{
    box-shadow: 0 0 10px 5px var(--magenta);
}

/* Ajusta o modal para imagem não escalonar além do ideal */
@media (min-width: 600px) {
    .modal {
        --bs-modal-width: 100vmin !important;
    }

    .modal-dialog{
        margin: auto !important;
    }

    .modal h1{
        position: absolute;
        padding: 0 !important;
        top: 4vmin;
        right: 4vmin;
    }
}

/* Aplicando mudanças para versão de computador */
@media (min-width: 1024px){

    /* Modificando as variáveis para a versão de computador */
    :root{

        /* Definindo o tamanho das fontes na versão de computador */
        --title-size: 80px;
        --subtitle-size: 80px;
        --section-size: 20px;
        --accordion-title-size: 25px;
        --accordion-section-size: 18px;
        --caption-size: 16px;
        --btn-contact-size: 30px;
        --btn-scroll-size: 12px;
        --list-size: 20px;
        --sublist-size: 18px;
    }

    /* Aumenta a borda do título principal */
    .wireframe-text{
        -webkit-text-stroke: 0.12rem var(--bd-color);
    }

    /* Ajusta o tamanho da nav */
    .navigation{
        height: 8vh;
    }

    /* Adiciona mais padding esquerdo para a seção 1 */
    .section1{
        height: 45vmax;
        padding-left: 12vmin;
    }

    /* Ajusta o tamanho do acordeão */
    .section5 .accordion{
        width: 76%;
    }

    /* Mostra o subtiítulo próximo ao slogan da seção 1 */
    .desktop-subtitle{
        width: 38%;
        height: auto;
        padding-top: 1vh;
        visibility:visible;
        font-size: var(--list-size);
        font-family: 'Roboto Light';
        line-height: 2.5vh;
        color: var(--pastel-blue);
        z-index: 1;
    }

    /* Alinha a imagem do botão de scroll com o seu respectivo efeito */
    .scroll-btn-div{
        top: 85%;
        position: absolute;
        z-index: 2;
    }

    /* Ajusta as proporções da imagem do botão */
    .scroll-btn img{
        width: 120%;
    }

    /* Cria um efeito circular ao redor do botão de scroll */
    .scroll-btn {
        position: relative;
        background-color: transparent;
    }
    
    .scroll-btn::after{
        content: '';
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -17px;
        right: -17px;
        border: 2px solid var(--pastel-blue);
        border-radius: 40px;
        color: var(--pastel-blue);
    }

    /* Ajusta a div do botão de scroll para a posição e tamanho ideais */
    .scroll-btn-title{
        width: 100%;
        height: auto;
        visibility:visible;
        right: 0%;
        top: 75%;
        padding: 0 2vmin 2vmin 0;
        display: flex;
        position: absolute;
        justify-content: center;
        z-index: 1;
    }

    /* Altera a fonte e a cor do titulo do botão de scroll */
    .scroll-btn-title p{
        font-family: 'Gotham HTF Book';
        color: var(--pastel-blue);
    }

    /* Esconde a seção 2 por completo */
    .section2{
        width: 0;
        height: 0;
        visibility: collapse;
    }

    /* Corrige o tamanho da seção 3 */
    .section3{
        height: 130vh;
    }

    /* Ajusta o padding dos headings 1 da seção 3 */
    .section3 h1{
        padding: 15vmin 0 5vmin;
    }

    /* Serve de container para o bloco a esquerda e a direita */
    .block-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* Forma o modelo a esquerda da seção 3 */
    .block-2{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    /* Modifica o espaçamento entre caracteres do parágrafo para posicionamento adequado */
    .block-2 p{
        text-align: justify;
        line-height: 3vh;
    }

    /* Ajusta a imagem para ocupar toda a div */
    .block-2 div img{
        width: 100%;
    }

    /* Forma o modelo a direita da seção 3 */
    .block-3{
        width: 40%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    /* Modifica o padding de baixo e a altura de linha dos parágrafos */
    .block-3 p{
        padding-bottom: 2vh;
        line-height: 3vh;
    }

    /* Prepara para receber pseudo-elementos */
    .block-3 li{
        position: relative;
    }

    /* Ajusta os parágrafos da lista para tamanho e posicionamento adequado */
    .block-3 li p {
        width: 100%;
        padding: 0.3vh 0;
    }

    /* Corrige o efeito de barra ( / ) para a versão desktop */
    .slash::after{
        content: '/';
        font-weight: bold;
        color: var(--magenta);
        position: absolute;
        left: -2.5vmin;
    }

    /* Corrige o efeito de ( - ) para a versão de desktop */
    .magenta::after{
        content: '';
        position: absolute;
        top: calc(50%);
        left: -6px;
        width: 6px;
        height: 2px;
        background-color: var(--magenta);
    }

    /* Ajusta o tamanho da seção 4 */
    .section4{
        height: 50vh;
    }

    /* Ajusta o tamanho da seção 5 e troca seu plano de fundo */
    .section5{
        width: 100%;
        height: 190vh;
        margin: 0;
        padding: 0;
        background: radial-gradient(circle at 0% 20%, var(--spanish-blue) 0%, transparent 25%),
                    radial-gradient(circle at 100% 30%, var(--spanish-blue) 0%, transparent 25%);
    }

    /* Ajusta o tamanho e o padding do heading 1 na seção 5 */
    .section5 h1{
        width: 100%;
        padding: 21vh 6vw 5vh 6vw;
    }

    /* Faz com que o acordeão não mais ocupe toda a pagina, e mantenha seus elementos ao centro */
    .accordion{
        width: 80%;
        align-items: center;
    }

    /* Remove o padding do heading 1 do acordeão */
    .accordion h1{
        padding: 0;
    }

    /* Remove a margin do heading 1 do botão do acordeão */
    .accordion-btn h1{
        margin: 0;
    }

    /* Ajusta o efeito circular com um símbolo no botão do acordeão para desktop */
    .accordion-btn::after{
        width: 50px;
        height: 50px;
        top: 0;
    }

    /* Ajusta o botão de contatos para desktop */
    .contact-btn{
        margin-top: 4vh;
        width: 42%;
        height: 7vh;
    }

    /* Ajusta o botão de retorno para desktop */
    .return-btn-div{
        right: 6vw;
    }
}