/* Importando fontes */
@font-face {font-family: 'Gotham HTF Black';src: url(../fonts/gotham/GothamHTF-Black.otf);}
@font-face {font-family: 'Gotham HTF Bold';src: url(../fonts/gotham/GothamHTF-Bold.otf);}
@font-face {font-family: 'Gotham HTF Book';src: url(../fonts/gotham/GothamHTF-Book.otf);}
@font-face {font-family: 'Gotham HTF Light';src: url(../fonts/gotham/GothamHTF-Light.otf);}
@font-face {font-family: 'Gotham HTF Medium';src: url(../fonts/gotham/GothamHTF-Medium.otf);}
@font-face {font-family: 'Gotham HTF Thin';src: url(../fonts/gotham/GothamHTF-Thin.otf);}
@font-face {font-family: 'Gotham HTF Ultra';src: url(../fonts/gotham/GothamHTF-Ultra.otf);}
@font-face {font-family: 'Gotham HTF XLight';src: url(../fonts/gotham/GothamHTF-XLight.otf);}
@font-face {font-family: 'Roboto Black';src: url(../fonts/roboto/roboto-black.ttf);}
@font-face {font-family: 'Roboto Black Italic';src: url(../fonts/roboto/roboto-blackItalic.ttf);}
@font-face {font-family: 'Roboto Bold';src: url(../fonts/roboto/roboto-bold.ttf);}
@font-face {font-family: 'Roboto Bold Italic';src: url(../fonts/roboto/roboto-boldItalic.ttf);}
@font-face {font-family: 'Roboto Italic';src: url(../fonts/roboto/roboto-italic.ttf);}
@font-face {font-family: 'Roboto Light';src: url(../fonts/roboto/roboto-light.ttf);}
@font-face {font-family: 'Roboto Light Italic';src: url(../fonts/roboto/roboto-lightItalic.ttf);}
@font-face {font-family: 'Roboto Medium';src: url(../fonts/roboto/roboto-medium.ttf);}
@font-face {font-family: 'Roboto Medium Italic';src: url(../fonts/roboto/roboto-mediumItalic.ttf);}
@font-face {font-family: 'Roboto Regular';src: url(../fonts/roboto/roboto-regular.ttf);}
@font-face {font-family: 'Roboto Thin';src: url(../fonts/roboto/roboto-thin.ttf);}
@font-face {font-family: 'Roboto Thin Italic';src: url(../fonts/roboto/roboto-thinItalic.ttf);}

/* Padronizando todos os elementos */
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo variáveis da página */
:root{

    /* Definindo as cores utilizadas */
    --magenta: #ED145B;
    --chinese-black: #101010;
    --black: #000000;
    --pastel-blue: #ACC1CC;
    --davys-green: #555555;
    --cultured: #F5F5F5;
    --spanish-blue: #006BB7;
    --silver-foil: #AFAFAF;

    /* Definindo as fontes utilizadas */
    --title-btn-font: 'Gotham HTF Medium';
    --section-list-font: 'Gotham HTF Book';
    --accordion-title-font:'Gotham HTF Bold';
    --caption-font: 'Roboto Regular';

    /* Definindo o tamanho das fontes na versão de celular */
    --title-size: 40px;
    --subtitle-size: 36px;
    --section-size: 18px;
    --accordion-title-size: 24px;
    --accordion-section-size: 16px;
    --caption-size: 12px;
    --btn-contact-size: 20px;
    --btn-scroll-size: 12px;
    --list-size: 18px;
    --sublist-size: 16px;
    
}

/* Aplicando mudanças para versão de computador */
@media (min-width: 768px){

    /* Modificando as variáveis para a versão de computador */
    :root{

        /* Definindo o tamanho das fontes na versão de computador */
        --title-size: 80px;
        --subtitle-size: 80px;
        --section-size: 20px;
        --accordion-title-size: 25px;
        --accordion-section-size: 18px;
        --caption-size: 16px;
        --btn-contact-size: 30px;
        --btn-scroll-size: 12px;
        --list-size: 20px;
        --sublist-size: 18px;
    }
}

/* Torna a imagem fornecida em --bg-image o novo fundo do container */
.background-img{
    position: relative;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

/* Adiciona o efeito de degradê, do preto para o transparente, sobre o plano de fundo */
.fade-effect{
    position: relative;
}

.fade-effect::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--black) 30%, transparent 100%);
    z-index: 0;
}

/* Aplica a cor magenta no texto */
.text-magenta{
    color: var(--magenta);
}

/* Aplica a cor pastel-blue no texto */
.text-pastel-blue{
    color: var(--pastel-blue);
}

/* Torna o texto transparente e adiciona uma borda ao redor das letras da cor do --bd-color */
.wireframe-text{
    color: transparent;
    -webkit-text-stroke: 1.2px var(--bd-color);
    font-family: var(--fnt-family) !important;
}

/* Faz o elemento ficar numa posição fixa da tela */
.sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Cria o efeito de parallax com a imagem fornecida em --bg-parallax */
.parallax{
    background-image: var(--bg-parallax);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Controla a nav da página */
.navigation{
    height: 13vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--chinese-black);
}

/* Faz as imagens da nav terem posição absoluta e ter 80px de largura */
.navigation img{
    position: absolute;
    width: 100px;
}

/* Faz a progress-bar ter posição absoluta, seu tamanho ser 0.5% da altura da viewport e sua cor ser magenta */
.progress-bar-custom{
    height: 0.5vh;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--magenta) !important;
}

/* Controla a seção 1 da página */
.section1{
    width: 100%;
    height: 43vh;
    padding: 0 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Aplica nos headings 1 da página o tamanho e a fonte ideal, e joga sua posição na frente do degradê*/
.section1 h1{
    margin: 0;
    padding: 0;
    font-size: var(--subtitle-size);
    font-family: var(--title-btn-font);
    z-index: 0;
}

/* Controla a seção 2 da página */
.section2{
    height: 30vh;
    padding: 0 3vw 0 9vw;
    display: flex;
    align-items: center;
    background-color: var(--black);
}

/* Adiciona ajustes de cor, fonte e espaçamento para o parágrafos da seção 2 */
.section2 p{
    margin: 0;
    color: var(--pastel-blue);
    font-size: var(--section-size);
    font-family: 'Roboto Light';
    letter-spacing: 0.2vw;
    line-height: 3vh;
}

/* Controla a seção 3 da página */
.section3{
    height: 255vh;
    padding: 0 2vw 0 9vw;
    display: flex;
    flex-direction: column;
    background-color: var(--cultured);
}

/* Ajusta do heading 1 para ter a posição e fonte adequadas*/
.section3 h1{
    padding: 18vh 0 10vh;
    font-size: var(--title-size);
    font-family: var(--title-btn-font);
}

/* Aplica ao componente paragraph a cor, fonte, espaçamento de linha e posicionamento adequados */
.section3 p{
    padding-bottom: 4vh;
    color: var(--davys-green);
    font-size: var(--section-size);
    font-family: var(--section-list-font);
    line-height: 3.3vh;
}

/* Ajusta a imagem para possuir o tamanho ideal */
.section3 img{
    width: calc(100vmin - 18vw);
}

/* Aplica ao componente small a cor, fonte e posicionamento adequados */
.section3 small{
    padding: 2vh 0 8vh;
    color: var(--davys-green);
    font-size: var(--caption-size);
    font-family: var(--caption-font);
}

/* Retira o efeito padrão das listas */
.section3 ul{
    list-style: none;
}

/* Adiciona um pequeno espaçamento ao paragraph das listas */
.section3 li p{
    padding: 1vh 0;
}

/* Adiciona efeito de barra ( / ) ao lado do elemento */
.section3 .slash::after{
    content: '/';
    font-weight: bold;
    color: var(--magenta);
    position: absolute;
    left: 12vw;
}

/* Adiciona um pequeno padding a esquerda, reduz o tamanho para 85% e troca a cor do texto para magenta */
.section3 .magenta{
    padding-left: 1vw;
    color: var(--magenta);
    scale: calc(0.88);
}

/* Adiciona um efeito de traço ( - ) ao lado do elemento */
.section3 .magenta::after{
    content: '';
    position: absolute;
    top: calc(50%);
    left: -22px;
    width: 6px;
    height: 2px;
    background-color: var(--magenta);
}

/* Controla a seção 4 da página */
.section4 {
    height: 85vh;
}